h1 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 45px;
	font-weight: 400;
	margin: 0;
	/*title of Site */
}

header {
	background-color: #F15B31;
	color: white;
	padding: 30px 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}
nav {
	background-color: #00A6B3;
	color: white;
	padding: 20px 0px;
	border-bottom: 2px solid transparent;
	/*anchors*/
}

a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
	margin: 0px 20px;
	color: white;
	/*instructions and game*/
}

a:hover {
	background-color: white;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	/*these are the instructions to the game*/
}

div {
	margin: 40px 8px 0px 8px;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	/*description of game*/
}

body {
	text-align: center;
	text-decoration: none;
	margin: 0;
	/*font-family: "Raleway", sans-serif;*/
}

footer {
	text-decoration: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	/*copyright section with GA*/
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;

}